<footer>
    <div class="content">
        <div class="description">
            Dilo.nu - Mira series, peliculas y más en línea de alta calidad gratis. Aquí puedes ver y descargar cualquier series, peliculas y más que quieras, si no está disponible en el sitio, solo envíanos una solicitud, la subiremos para ti tan pronto como sea posible.   
        </div>
        <div class="separador"></div>
        <div class="copyright">
            Copyright © 2015 - 2018 | dilo.nu
        </div>
    </div>
</footer>